In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sc

In [70]:
file="https://raw.githubusercontent.com/Karanz32/data-/master/rainfall%20in%20india%201901-2015.csv"
csv=pd.read_csv(file)
df=pd.DataFrame(csv)
df_data=pd.DataFrame(df.iloc[:115,2:15])
X=np.array(df.iloc[[3],2:15])                                       # Selecting random Row (3rd) of the data set and create 1D array consisting of numbers.
Y=np.array(df.iloc[[7],2:15])                                       # Selecting random Row (4th) of the data set and create 1D array consisting of numbers.
type(X)

numpy.ndarray

In [37]:
# Euclidean Norm.
def EN(X,Y):
  n=0
  Z=0
  while n<=X.size-1: # n is index starting from 0
    diff=(Y[0][n]-X[0][n])**2 # represents (b-a)^2
    Z=Z+diff                 # Sums up all the values of square(Z)
    n=n+1
  Z=np.power(np.sum(Z),0.5)   # Takes the square root of the sum of square(Z)
  simmi=1/(1+Z)
  return Z,simmi
EN=EN(X,Y)
EN

(932.841101152817, 0.0010708459916419512)

In [41]:
# Hilbert Schmidt norm.
def HSN(X,Y):
  A=np.ones([(X).size,(X).size],dtype=int)
  Z=Y-X
  Z_transpose=np.transpose(Z)
  Z_A_Z_transpose=np.linalg.multi_dot([Z,A,Z_transpose])
  HSN=np.power(Z_A_Z_transpose,0.5)
  simmi=1/(1+HSN)
  return HSN,simmi
HSN=HSN(X,Y)
HSN

tuple

In [32]:
# Cosine Similarity.
def CS(X,Y):
  sum_X_Y=np.sum(X*Y)
  sum_X_2=np.sum(np.power(X,2))
  sum_Y_2=np.sum(np.power(Y,2))
  num=sum_X_Y
  den=sum_X_2*sum_Y_2
  den=np.power(den,0.5)
  C_S=num/den
  C_D_S=(1/C_S)-1
  print("The cosine similarity and dissimilarity between X & Y: ","(",C_S,",",C_D_S,")")
  return C_S,C_D_S
CS=CS(X,Y)

The cosine similarity and dissimilarity between X & Y:  ( 0.9922564705712654 , 0.0078039596197103656 )

tuple

In [50]:
# Overlap Similarity.
def OS(X,Y):
  sum_X_Y=np.sum(X*Y)
  sum_X_2=np.sum(np.power(X,2))
  sum_Y_2=np.sum(np.power(Y,2))
  num=sum_X_Y
  if float(sum_X_2)<float(sum_Y_2):
    den=sum_X_2
    O_S=num/den
    O_DS=(1/O_S)-1
    return O_S,O_DS
  else:
    den=sum_Y_2
    O_S=num/den
    O_DS=(1/O_S)-1
    return O_S,O_DS
OS=OS(X,Y)
print("simmi","dissi")
OS

simmi dissi

(1.1269413362184815, -0.11264236401554018)

In [52]:
# Dice similarity.
def DS(X,Y):
  sum_X_Y=np.sum(X*Y)
  sum_X_2=np.sum(np.power(X,2))
  sum_Y_2=np.sum(np.power(Y,2))
  num=2*sum_X_Y
  den=sum_X_2+sum_Y_2
  D_S=num/den
  D_DS=(1/D_S)-1
  return D_S,D_DS
DS=DS(X,Y)
print("simmi","dissi")
DS

simmi dissi

(0.9659719368440287, 0.035226761625338554)

In [56]:
# Jaccard Similarity.
def JS(X,Y):
  sum_X_Y=np.sum(X*Y)
  sum_X_2=np.sum(np.power(X,2))
  sum_Y_2=np.sum(np.power(Y,2))
  num=sum_X_Y
  den=sum_X_2+sum_Y_2+sum_X_Y
  J_S=num/den
  J_DS=1-(J_S)
  print("The Jaccard simlarity is ",J_S)
  return J_S,J_DS
JS=JS(X,Y)
print("simmi","dissi")
JS

The Jaccard simlarity is  0.3256847864420054
simmi dissi

(0.3256847864420054, 0.6743152135579946)

In [57]:
# Mahalanobis norm.
def MN(X,Y,df_data):
  mean=np.array(np.mean(df_data))
  mean=np.transpose(mean)
  X_minus_X_mean=X-mean
  Y_minus_Y_mean=Y-mean
  Cov_X=np.dot(np.transpose(X_minus_X_mean),X_minus_X_mean)
  Cov_Y=np.dot(np.transpose(Y_minus_Y_mean),Y_minus_Y_mean)
  A_x=Cov_X
  A_x=A_x/((X).size-1)
  A_x=np.linalg.inv(A_x)
  A_y=Cov_Y
  A_y=A_y/((X).size-1)
  A_y=np.linalg.inv(A_y)
  MN_X=np.power(np.linalg.multi_dot([X,A_x,np.transpose(X)]),0.5)
  MN_Y=np.power(np.linalg.multi_dot([Y,A_x,np.transpose(Y)]),0.5)
  return MN_X,MN_Y
MN=MN(X,Y,df_data)
MN

(array([[5.4042403e+10]]), array([[7.32285979e+10]]))

In [60]:
# Lebesgue Minkowski Norm.
def LMN(X,Y):
  Z=abs(Y-X)
  alpha=input("The value of alpha is (1,2,inf,-inf) : ")
  if alpha=="-inf":
    print("Lebesgue norm is (infimum)=",np.amin(Z))
    Z=np.amin(Z)
    simmi=100/((Z)+100)
    return simmi,Z
  elif alpha=="inf":
    print("Lebesgue norm is (supremum)=",np.amax(Z))
    Z=np.amax(Z)
    simmi=100/((Z)+100)
    return simmi,Z
  elif int(alpha)==1:
    Z=np.power(Z,1)
    Z=np.sum(Z)
    simmi=100/((Z)+100)
    print("The Lebesgue norm is ( Manhattan)=",Z)
    return simmi,Z
  elif int(alpha)==2:
    Z=np.power(Z,2)
    Z=np.sum(Z)
    Z=np.power(Z,0.5)
    simmi=100/((Z)+100)
    print("The Lebesgue norm is ( Euclidean)=",Z)
    return simmi,Z
  else:
    print("Re-enter alpha within given range")
LMN=LMN(X,Y)
print("simmi  ,  dissi")
LMN

The value of alpha is (1,2,inf,-inf) : 1
The Lebesgue norm is ( Manhattan)= 2469.0
simmi  ,  dissi

(0.03892565200467108, 2469.0)

In [69]:
# Diagonal Norm.
def DN(X,Y):
  matrix=np.zeros([X.size,X.size])
  random_diag=np.random.randint(0,2,X.size)
  j=0
  while j<=(X.size)-1:
    matrix[j][j]=random_diag[j]
    j=j+1
  A=matrix
  Z=Y-X
  Z_transpose=np.transpose(Z)
  Z_A_Z_transpose=np.linalg.multi_dot([Z,A,Z_transpose])
  D_N=np.power(Z_A_Z_transpose,0.5)
  simmi=100/((D_N)+100)
  return simmi,D_N
DN=DN(X,Y)
print("simmi  ,  dissi")
DN

simmi  ,  dissi

(array([[0.26865153]]), array([[272.22940693]]))